@import "tailwindcss";

@plugin "daisyui" {
  include: button, card, range, swap, toggle;
}

@plugin "daisyui/theme" {
  --color-primary: #5d5ce6;
  --color-secondary: #fdbd4c;

  name: light;
  default: true;
  color-scheme: light;
}

@plugin "daisyui/theme" {
  --color-primary: #5d5ce6;
  --color-secondary: #dbae59;

  name: dark;
  prefersdark: true;
  color-scheme: dark;
}

@utility stroke-linecap {
  stroke-linecap: round;
}

@utility stroke-linejoin {
  stroke-linejoin: round;
}

@layer {
  .toggle {
    @apply toggle-primary toggle-xs;
  }

  .border-bottom {
    @apply border-b border-b-base-content/5;
  }

  .label {
    @apply flex justify-between py-4 px-5 text-sm;
  }

  .range-control {
    @apply block px-5;
  }

  .range {
    @apply range-xs range-primary w-full;
  }

  .range-label {
    @apply flex w-full justify-between items-center mb-2 font-medium;
  }

  .range-indicator {
    @apply min-w-16 text-right opacity-60;
  }

  .btn {
    @apply btn-soft btn-xs rounded-sm cursor-pointer;
  }

  .btn-xs {
    @apply h-auto min-h-0 py-0.5;
  }

  .lucide {
    @apply w-4 h-4 fill-none stroke-current stroke-2 stroke-linecap stroke-linejoin;
  }

  .lucide-sm {
    @apply w-3 h-3;
  }

  .lucide-md {
    @apply w-6 h-6;
  }

  .lucide-lg {
    @apply w-16 h-16;
  }
}
